script(
    src='js/jquery.js'
    type='text/javascript'
)
script(
    src='bootstrap/dist/js/bootstrap.min.js' 
    type='text/javascript'
)
script(
    src="https://use.fontawesome.com/3b358e4eff.js"
    type='text/javascript')
script(
    src='js/pageHeight.js'
    type='text/javascript')